.bannerTls
    @include imagen-fondo(url(../images/banner.jpg))
    height: 115vh
    padding-right: 80px
    padding-left: 80px
    padding-top: 40px
    display: flex
    flex-direction: column
    justify-content: space-between

.tls_header
    display: flex
    justify-content: space-between
    
    nav
        @include center()

.tls_header_nav
    @extend .tls_header

    li
        margin-left: 40px

.tls_header_nav_link
    color: rgba(#FEFEFE, .7)
    
.tls_header_list
    @include center()

    li
        height: 22px
        width: 22px
        background-color: #fff
        margin-left: 15px
        border-radius: 50px
        @include center()

        i
            color: #4F4F4F

.button-message
    height: 66px
    width: 66px
    background-color: $rojoTls
    border-radius: 50px
    align-self: flex-end
    position: fixed
    bottom: 40px
    z-index: 3
    @include center()

    i
        font-size: 37px
        color: #fff

.tls_home_why
    width: 100%
    background-color: #fff
    @include borde-superior(600px)
    margin-top: -50px
    position: relative

    h2
        color: $naranjaTls
        font-size: 48px

    .why_texto
        margin-top: 88px
    .why_img
        position: absolute
        top: -70px

.tls_home_why_row
    display: flex
    flex-direction: column

.tls_home_why_container
    display: flex
    flex-direction: column
    align-items: flex-start
        
.tls_home_why_container_row
    display: flex
    margin-top: 35px

.tls_home_why_item
    display: flex
    text-align: center
    flex-direction: column
    justify-content: space-between
    margin-left: 25px
    color: $azulTls

    p
        font-family: subtitulos
        font-size: 20px

.tls_home_why_icons
    height: 56px
    margin-bottom: 15px

.tls_home_beneficios
    background-color: #F0F0F0
    height: 500px
    display: flex
    flex-direction: column
    justify-content: space-around

    h2
        color: $azulTls
        font-size: 48px
        margin-bottom: 25px
    
    p
        font-family: texto
        font-size: 18px

.tls_home_benefits_container
    display: flex
    justify-content: space-around
    

.tls_home_benefits_container_item
    height: 230px
    width: 230px
    border-radius: 500px
    display: flex  !important
    flex-direction: column
    justify-content: center
    text-align: center
    align-items: center

.orange_benefits
    @extend .tls_home_benefits_container_item
    background-color: $naranjaTls

.green_benefits
    @extend .tls_home_benefits_container_item
    background-color: $verdeTls

.purple_benefits
    @extend .tls_home_benefits_container_item
    background-color: $moradoTls
