.tls_contactanos_banner
    @include imagen-fondo(url(../images/banner-contactanos.jpg))
    @include borde-inferior(100vh)
    background-position: bottom
    padding-top: 40px

.tls_header_nav_link
    color: rgba(#FEFEFE, .9)

.tls_contactanos_title h2
    color: #fff
    font-size: 48px

.tls_contactanos_form label
    color: #fff
    font-family: texto
    font-size: 18px

.tls_contactanos_form_col_input
    background-color: #fff
    height: 40px
    width: 286px
    border-radius: 15px
    display: flex
    align-items: center
    padding-left: 30px
    margin-bottom: 40px
    font-family: subtitulos
    font-size: 21px
    color: rgba(#333, .5)

.tls_contactanos_form_p
    font-size: 18px
    color: #fff
    font-family: texto
