* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: helvetica;
  font-family: encabezados; }

@font-face {
  src: url(../fonts/helveticaneue.ttf);
  font-family: texto; }
@font-face {
  src: url(../fonts/HelveticaNeueCondensedBold.ttf);
  font-family: subtitulos; }
@font-face {
  src: url(../fonts/HelveticaNeueLTStd-Blk.otf);
  font-family: encabezados; }
.bannerTls {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 115vh;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.tls_header, .tls_header_nav {
  display: flex;
  justify-content: space-between; }
  .tls_header nav, .tls_header_nav nav {
    display: flex;
    justify-content: center;
    align-items: center; }

.tls_header_nav li {
  margin-left: 40px; }

.tls_header_nav_link {
  color: rgba(254, 254, 254, 0.7); }

.tls_header_list {
  display: flex;
  justify-content: center;
  align-items: center; }
  .tls_header_list li {
    height: 22px;
    width: 22px;
    background-color: #fff;
    margin-left: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tls_header_list li i {
      color: #4F4F4F; }

.button-message {
  height: 66px;
  width: 66px;
  background-color: #EE1B24;
  border-radius: 50px;
  align-self: flex-end;
  position: fixed;
  bottom: 40px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button-message i {
    font-size: 37px;
    color: #fff; }

.tls_home_why {
  width: 100%;
  background-color: #fff;
  height: 600px;
  border-top-right-radius: 0;
  animation: curve 0s ease forwards;
  margin-top: -50px;
  position: relative; }
@keyframes curve {
  100% {
    border-radius: 250% 250%/25% 25%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; } }
  .tls_home_why h2 {
    color: #F77121;
    font-size: 48px; }
  .tls_home_why .why_texto {
    margin-top: 88px; }
  .tls_home_why .why_img {
    position: absolute;
    top: -70px; }

.tls_home_why_row {
  display: flex;
  flex-direction: column; }

.tls_home_why_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.tls_home_why_container_row {
  display: flex;
  margin-top: 35px; }

.tls_home_why_item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
  color: #00AFF0; }
  .tls_home_why_item p {
    font-family: subtitulos;
    font-size: 20px; }

.tls_home_why_icons {
  height: 56px;
  margin-bottom: 15px; }

.tls_home_beneficios {
  background-color: #F0F0F0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .tls_home_beneficios h2 {
    color: #00AFF0;
    font-size: 48px;
    margin-bottom: 25px; }
  .tls_home_beneficios p {
    font-family: texto;
    font-size: 18px; }

.tls_home_benefits_container {
  display: flex;
  justify-content: space-around; }

.tls_home_benefits_container_item, .orange_benefits, .green_benefits, .purple_benefits {
  height: 230px;
  width: 230px;
  border-radius: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.orange_benefits {
  background-color: #F77121; }

.green_benefits {
  background-color: #A6CE39; }

.purple_benefits {
  background-color: #A4258F; }

/*# sourceMappingURL=main.css.map */
